<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<a href="/dev/users/logout" class="btn btn-secondary">Logout</a>
<a href="/dev/users/posts" class="btn btn-secondary">User Posts</a>
<a href="/dev/users/publishedposts" class="btn btn-secondary"
  >Published Posts</a
>
